{
  "presets": [
    [
      "@babel/preset-env", //https://babeljs.io/docs/en/babel-preset-env
      {
        "targets": {
          "chrome": 40
        },
        "useBuiltIns": "usage" //https://babeljs.io/docs/en/babel-preset-env#usebuiltins
      }
    ]
  ],
  "plugins": []
}
